:root {
    --color-holberton-primary: #e0354b;
    
    --border: solid 3px var(--color-holberton-primary);
}

html {
    font-family: sans-serif;
}
html, body {
    height: 100%;
}

div#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}