.App-header img {
  height: 300px;
  width: 300px;
}

.App-header {
  display: flex;
  font-family: 'Sans-serif', "Arial";
  color: red;
}

.App-body {
  border-bottom: solid 3px red;
  border-top: solid 3px red;

  height: 50vh;
}

.App-body p {
 margin-top: 3rem;
 margin-left: 2rem;
}

.App-footer {
  text-align: center;
}

